body {
    margin: 0;
    padding: 0;
    background-color: #F8F7DB;
    font-family: Arial, Helvetica, sans-serif;
    color: #091350;
}

#container {
    width: 800px;
    margin: 50px auto 20px;
    padding: 10px;
    background-color: #FEFDEB;
    min-height: 300px;
    overflow: visible;
    border-radius: 6px;
    -moz-box-shadow: 0 0 3px 2px #A1B41D;
    -webkit-box-shadow: 0 0 3px 2px #A1B41D;
    box-shadow: 0 0 3px 2px #A1B41D;
}

#header {
    position: relative;
}

#logo {
    background: url('../img/ang02_logo.png') #93B3F7 no-repeat;
    height: 48px;
}

#content {
    padding: 10px 30px 30px;
    width: 250px;
    float: left;
}

h1 {
    color: #518108;
    font-weight: normal;
    margin-top: 0;
    padding: 30px;
    background-color: #E7F295;
    font-weight: normal;
    border-bottom: 1px solid #A1B41D;
    font-size: 150%;
}
