<h4>Add Account</h4>

<div style="padding: 20px;">
    Account Name: <input type="text" class="span2" placeholder="AccountName" ng-model="addName">
    <br/>
    Account Price: <input type="text" class="span2" placeholder="AccountPrice" ng-model="addPrice">
</div>
<button class="btn btn-primary" ng-click="accountAdd()">
    Add Account
</button>

<div style="position: absolute; bottom: 0px; width: 100%">
    <div class="row" style="background: #a3b6c6; padding: 5px;">
        <div class="col-md-6">
            footer left
        </div>
        <div class="col-md-6 text-right">
            footer right
        </div>
    </div>
</div>