<div style="margin-left: 15px">
    <h3>Edit Account</h3>

    <table>
        <tr>
            <td>Name:</td>
            <td>{{account.name}}</td>
        </tr>
        <tr>
            <td>Publisher:</td>
            <td>{{account.publisher}}</td>
        </tr>
        <tr>
            <td>Campaign:</td>
            <td>{{account.campaign}}</td>
        </tr>
        <tr>
            <td>Impressions:</td>
            <td>{{account.impressions}}</td>
        </tr>
        <tr>
            <td>Clicks:</td>
            <td>{{account.clicks | number}}</td>
        </tr>
        <tr>
            <td>Ctr:</td>
            <td>{{account.ctr}}</td>
        </tr>
        <tr>
            <td>Cost:</td>
            <td>{{account.cost}}</td>
        </tr>
        <tr>
            <td>Revenue:</td>
            <td>{{account.revenue}}</td>
        </tr>
    </table>

    <button class="btn btn-default">Cancel</button>
    <button class="btn btn-default">Save Changes</button>
</div>