<style>
    #adGroupList {
        height: 310px;
        background-color: white;
        box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
        margin-bottom: 12px;
    }
</style>

<div class="row" style="padding: 5px">
    <div class="col-md-10">
        <a href="" class="btn btn-primary">Filter</a>
        <a href="" class="btn btn-default disabled">Clear Filters</a>
        Current Filters
        <a href="" class="btn btn-default">All Accounts</a>
        <a href="" class="btn btn-default">All Campaigns</a>
        <a href="" class="btn btn-default">All Ad Groups</a>
    </div>
    <div class="col-md-2 text-right">
        <a class="btn btn-primary">Bookmarks</a>
    </div>
</div>

<div class="row" style="padding: 5px">
    <div class="col-md-9">
        <button class="btn btn-default">Add</button>
        <button class="btn btn-default disabled">Edit</button>
        <button class="btn btn-success disabled">C</button>
        <button class="btn btn-info disabled">C</button>
        <button class="btn btn-warning disabled">C</button>
        <button class="btn btn-default" ui-sref="adGroup.editColumns({moduleKey: 'adGroup'})">Edit Columns</button>
        <button class="btn btn-default">Download</button>
        <button class="btn btn-default">Upload</button>
        <button class="btn btn-default">C</button>
        <button class="btn btn-default">Keywords</button>
    </div>
    <div class="col-md-3 text-right">
        3/19/2015 - 3/25/2015
        <a class="btn btn-default">Today</a>
    </div>
</div>

<div>
    <ang07-grid id="adGroupList"
                item-formatter="adGroupItemFormatter"
                items-source="adGroupCollection"
                column-layout="adGroupColumnLayout"
                selection-mode="None"
                headers-visibility="Column">
    </ang07-grid>

    <div class="btn-group">
        <button type="button" class="btn" ng-click="adGroupCollection.moveToFirstPage()">
            <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button type="button" class="btn" ng-click="adGroupCollection.moveToPreviousPage()">
            <span class="glyphicon glyphicon-step-backward"></span>
        </button>
        <button type="button" class="btn" disabled style="width:100px; height:33px;">
            {{adGroupCollection.pageIndex + 1 | number}} / {{adGroupCollection.pageCount | number}}
        </button>
        <button type="button" class="btn" ng-click="adGroupCollection.moveToNextPage()">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button type="button" class="btn" ng-click="adGroupCollection.moveToLastPage()">
            <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
    </div>
</div>

<div style="position: absolute; bottom: 0px; width: 100%">
    <div class="row" style="background: #a3b6c6; padding: 5px;">
        <div class="col-md-6">
            footer left
        </div>
        <div class="col-md-6 text-right">
            footer right
        </div>
    </div>
</div>
